html
    head
        title 小熊猫
    link(rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link( rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="js/jquery-3.3.1.min.js")
    script(src="view/index/main.js")
    link(rel="stylesheet" href="view/index/main.css")
    body
        .top
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href="#")
                            img(alt="小小相册", src="/images/index/logo.jpg" style="width:20px;height:20px")
                        a.navbar-brand(href="#") 熊猫哥的小小相册  
                    #menu-title.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href="/") 全部相册 
                                    span.sr-only (current)         
                            li.active
                                a(href="/up") 上传
        .content
            .row
                .col-md-4.col-md-4
                    form(action="/up", enctype="multipart/form-data", method="post")
                        .form-group
                            label(for="document") 上传文件夹
                                select.form-control(name="doucument")
                                    - for (var i = 0; i < pictures.length; ++i) {
                                        - if ( pictures[i]!="tempUp" ) 
                                            option(value=pictures[i]) #{pictures[i]}
                                    -}
                            p #{picMessage}                   
                        .form-group
                            label(for="exampleInputFile") 上传文件
                                input#exampleInputFile(type="file" name="pic")     
                        button.btn.btn-default(type="submit") Submit